<div class="container mt-5">
    <div class="text-center">
        <h1>All Categories</h1>

        <%= link_to "Create New Category", new_admin_category_path, class: "btn btn-pink my-3"  %>

        <div class="paginate pagination justify-content-center my-3">
            <%= will_paginate :previous_label => '<', :next_label => '>' %>
        </div>

        <div class="row">
            <% @categories.each do |category| %>
                <div class="col-md-6">
                    <section>
                        <div class="card text-left my-3">
                            <div class="card-header">
                                <small>Title:</small>
                                <%= link_to category.title, admin_category_words_path(category), :style=>"color: #20b2aa;" %>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <small>Description:</small>
                                        <br>
                                        <%= category.description %>
                                    </div>
                                    <div class="col-md-4">
                                        <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-sm btn-outline-success mr-3" %>
                                        <%= link_to "Delete", admin_category_path(category),
                                            method: :delete,
                                            class: "btn btn-sm btn-outline-danger mr-3",
                                            data: {title: "Confirmation",
                                                    confirm: "Are you sure you want to delete?",
                                                    commit: "Sure!",
                                                    cancel: "No..."} %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            <% end %>
        </div>

        <div class="paginate pagination justify-content-center my-3">
            <%= will_paginate :previous_label => '<', :next_label => '>' %>
        </div>

        <%= link_to("Back to Admin Page", admin_home_path, class: "btn btn-blue mx-auto mb-3") %>
    </div>
</div>